<template>
  <div>
    <label class="font-weight-bold">Case Info</label>

    <input-field
      id="caseNumber"
      label="Case Number"
      v-model="value.caseNumber"
      type="text"
      validation-rules="required"
      :horizontal="true"
    />

    <input-field
      id="creation-date"
      label="Date"
      v-model="value.creationDate"
      type="date"
      validation-rules="required"
      :horizontal="true"
    />

    <input-field
      id="creation-time"
      label="Time (in UTC)"
      v-model="value.creationTime"
      type="time"
      validation-rules="required"
      :horizontal="true"
    />

    <b-form-group
      id="input-group-status"
      label="Status"
      label-for="input-status"
      label-cols
      label-align="right"
    >
      <b-form-select
        id="input-status"
        v-model="value.status"
        :options="caseStatuses"
      ></b-form-select>
    </b-form-group>

    <b-form-group
      id="input-group-outcome"
      label="Outcome"
      label-for="input-outcome"
      label-cols
      label-align="right"
    >
      <b-form-select
        id="input-outcome"
        v-model="value.outcome"
        :options="caseOutcomes"
      ></b-form-select>
    </b-form-group>

    <input-field
      id="departure-date"
      label="Estimated Departure Date"
      v-model="value.estimatedDepartureDate"
      type="date"
      :horizontal="true"
    />

    <input-field
      id="departure-time"
      label="Estimated Departure Time (in UTC)"
      v-model="value.estimatedDepartureTime"
      type="time"
      :horizontal="true"
    />

    <b-form-group
      id="input-group-frontex"
      label="Frontex Involvement"
      label-for="input-frontex"
      label-cols
      label-align="right"
    >
      <b-form-select
        id="input-frontex"
        v-model="value.frontex"
        :options="frontexInvolvments"
      ></b-form-select>
    </b-form-group>

    <b-form-group label-cols>
      <b-form-checkbox id="input-authorities-alerted" v-model="value.authoritiesAlerted">
        Authorities alerted
      </b-form-checkbox>
    </b-form-group>

    <b-form-group
      id="input-group-authorities-details"
      label="Authorities Details"
      label-for="input-authorities-details"
      label-cols
      label-align="right"
    >
      <b-form-textarea
        id="input-authorities-details"
        v-model="value.authoritiesDetails"
        placeholder="Enter specifics about the authorities' involvement..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </b-form-group>

    <b-form-group
      id="input-group-freetext"
      label="Notes"
      label-for="input-freetext"
      label-cols
      label-align="right"
    >
      <b-form-textarea
        id="freetext-input"
        v-model="value.freetext"
        placeholder="Enter any additional information..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </b-form-group>

    <label class="font-weight-bold">Boat</label>

    <b-form-group
      id="input-group-boat-type"
      label="Type"
      label-for="input-boat-type"
      label-cols
      label-align="right"
    >
      <b-form-select
        id="boat-type-input"
        v-model="value.boatType"
        :options="boatTypes"
        required
      ></b-form-select>
    </b-form-group>

    <b-form-group
      id="input-group-boat-color"
      label="Color"
      label-for="input-boat-color"
      label-cols
      label-align="right"
    >
      <b-form-select
        id="boat-color-input"
        v-model="value.boatColor"
        :options="boatColors"
        required
      ></b-form-select>
    </b-form-group>

    <input-field
      id="engine-status"
      label="Engine Status"
      v-model="value.engineStatus"
      type="text"
      placeholder="Estimated engine status"
      :horizontal="true"
    />

    <label class="font-weight-bold">People on Board</label>

    <input-field
      id="pob-women"
      label="Women"
      type="number"
      v-model="value.womenPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <input-field
      id="pob-men"
      label="Men"
      type="number"
      v-model="value.menPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <input-field
      id="pob-minors"
      label="Minors"
      type="number"
      v-model="value.minorsPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <input-field
      id="pob-medical"
      label="Medical"
      type="number"
      v-model="value.medicalPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <input-field
      id="pob-missing"
      label="Missing"
      type="number"
      v-model="value.missingPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <input-field
      id="pob-drowned"
      label="Drowned"
      type="number"
      v-model="value.drownedPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <input-field
      id="pob-total"
      label="Total"
      type="number"
      v-model="value.totalPob"
      validation-rules="integer"
      :horizontal="true"
    />

    <label class="font-weight-bold">Additional Info</label>

    <b-form-group
      id="input-group-links"
      label="Links"
      label-for="input-links"
      label-cols
      label-align="right"
    >
      <tags-input
        element-id="links"
        v-model="value.links"
        :typeahead="false"
        placeholder="Add a link"
      />
    </b-form-group>

    <b-form-group
      id="input-group-tags"
      label="Tags"
      label-for="input-tags"
      label-cols
      label-align="right"
    >
      <tags-input
        element-id="input-tags"
        v-model="value.tags"
        :existing-tags="typeAheadTags"
        :typeahead="true"
        typeahead-style="dropdown"
      />
    </b-form-group>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import CaseFormInput from '../../models/CaseFormInput'
import { TagsQuery_tags } from './graphql/TagsQuery'
import logger from '../../common/logger'
import { refreshTypeAhead, TypeAheadTags } from '../Tags/TagsQuery'
import {
  BoatColor,
  BoatType,
  CaseOutcome,
  CaseStatus,
  FrontextInvolvement
} from '../../global-query-types'

@Component
export default class CaseForm extends Vue {
  boatTypes: string[] = Object.keys(BoatType).map(k => BoatType[k])
  boatColors: string[] = Object.keys(BoatColor).map(k => BoatColor[k])
  caseStatuses: string[] = Object.keys(CaseStatus).map(k => CaseStatus[k])
  frontexInvolvments: string[] = Object.keys(FrontextInvolvement).map(k => FrontextInvolvement[k])
  caseOutcomes: string[] = Object.keys(CaseOutcome).map(k => CaseOutcome[k])
  typeAheadTags: TypeAheadTags[] = []
  tags: TagsQuery_tags[] = []

  @Prop() value!: CaseFormInput

  async mounted() {
    logger.trace(`Mounting form with model '${JSON.stringify(this.value)}'`)
    this.typeAheadTags = await refreshTypeAhead(this.$apollo)
  }
}
</script>
