<template>
  <b-modal
    id="editCaseModal"
    ref="editCaseModal"
    @ok="onSubmit"
    @hide="resetFormData"
    @show="onShow"
    title="Edit case"
    size="lg"
  >
    <validation-observer ref="observer">
      <error-alert :message="errorMessage" />
      <case-form v-model="formData" />
    </validation-observer>
  </b-modal>
</template>

<script lang="ts">
import { BoatColor, BoatType } from '../../global-query-types'
import { BvEvent } from 'bootstrap-vue'
import { Component, Prop } from 'vue-property-decorator'
import logger from '../../common/logger'
import CaseFormInput from '../../models/CaseFormInput'
import Vue from 'vue'
import {
  convertFormToCreate,
  convertFormToUpdate,
  convertCaseToFormInput
} from '../../common/converters/CaseConverter'
import serverBus from '../../common/serverBus'
import CaseForm from './CaseForm.vue'
import { CasesQuery_cases_cases } from '../Cases/graphql/CasesQuery'
import { updateCase } from './UpdateCaseMutation'
import { createCase } from './CreateCaseMutation'
import {
  dateToInputTimeString,
  dateToInputDateString,
  getCurrentUTCDate
} from '../../common/converters/DateTimeConverter'
import { Events } from '../../common/constants'

@Component({
  components: {
    'case-form': CaseForm
  }
})
export default class EditCase extends Vue {
  formData: CaseFormInput = {}
  errorMessage = ''

  @Prop({ default: null }) caseToEdit?: CasesQuery_cases_cases | null
  @Prop({ default: false }) editMode?: boolean | string

  onShow() {
    logger.debug(`Creating edit case form in edit mode: ${this.editMode}`)

    this.resetFormData()

    // HACK: Vue router requires passing props as string, parse to bool
    this.editMode = this.editMode === true
  }

  async onSubmit(eventArgs: BvEvent) {
    eventArgs.preventDefault()

    try {
      if (this.editMode && this.caseToEdit != null) {
        await this.updateCase()
      } else {
        await this.createCase()
      }

      serverBus.$emit(Events.addEditCaseSuccess)
      this.resetFormData()
    } catch (e) {
      this.$nextTick(() => {
        this.errorMessage = e
      })

      logger.error(e)
    }
  }

  async updateCase(): Promise<void> {
    logger.debug('Updating existing case in backend')

    const caseObject = convertFormToUpdate(this.formData)
    logger.trace('Submitting case with converted data: ' + JSON.stringify(caseObject))

    await updateCase(this.$apollo, caseObject)
    serverBus.$emit(Events.successMessage, 'Case updated')
  }

  async createCase(): Promise<void> {
    logger.debug('Creating new case in backend')

    const caseObject = convertFormToCreate(this.formData)
    logger.trace('Submitting case with converted data: ' + JSON.stringify(caseObject))

    await createCase(this.$apollo, caseObject)
    serverBus.$emit(Events.successMessage, 'Case added')
  }

  resetFormData() {
    if (this.editMode && this.caseToEdit) {
      logger.trace(`Prepopulating form with case data '${JSON.stringify(this.caseToEdit)}'`)
      this.formData = convertCaseToFormInput(this.caseToEdit)
    } else {
      this.formData = this.buildInitialFormData()
    }
  }

  buildInitialFormData() {
    const now = getCurrentUTCDate()
    return {
      caseNumber: 'DCXXX',
      boatType: BoatType.RUBBER,
      boatColor: BoatColor.BLACK,
      engineStatus: '',
      womenPob: 0,
      menPob: 0,
      minorsPob: 0,
      drownedPob: 0,
      missingPob: 0,
      medicalPob: 0,
      creationDate: dateToInputDateString(now),
      creationTime: dateToInputTimeString(now),
      tags: []
    } as CaseFormInput
  }
}
</script>
