<template>
  <div class="px-2">
    <b-form-group label="Date From" label-class="font-weight-bold">
      <b-form-input
        class="mb-2"
        v-model="fromDate"
        @input="filterChanged()"
        type="date"
        debounce="debounceMs"
      ></b-form-input>

      <b-form-input
        v-model="fromTime"
        @input="filterChanged()"
        type="time"
        debounce="debounceMs"
      ></b-form-input>
    </b-form-group>

    <b-form-group label="Date To" label-class="font-weight-bold">
      <b-form-input
        class="mb-2"
        v-model="toDate"
        @input="filterChanged()"
        type="date"
        debounce="debounceMs"
      ></b-form-input>
      <b-form-input
        v-model="toTime"
        @input="filterChanged()"
        type="time"
        debounce="debounceMs"
      ></b-form-input>
    </b-form-group>

    <b-form-group label="Boat Types" label-class="font-weight-bold">
      <b-form-checkbox-group
        v-model="filter.boatTypes"
        :options="boatTypeOptions"
        @change="filterChanged()"
        stacked
      ></b-form-checkbox-group>
    </b-form-group>

    <b-form-group label="Boat Colors" label-class="font-weight-bold">
      <b-form-checkbox-group
        v-model="filter.boatColors"
        :options="boatColorOptions"
        @change="filterChanged()"
        stacked
      ></b-form-checkbox-group>
    </b-form-group>

    <b-form-group label="Tags" label-for="input-tags" label-class="font-weight-bold">
      <tags-input
        element-id="input-tags"
        v-model="tags"
        :typeahead="true"
        :existing-tags="typeAheadTags"
        typeahead-style="dropdown"
        @input="filterChanged()"
      />
    </b-form-group>

    <b-button class="float-right" variant="danger" @click="resetFilter()">Reset</b-button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import serverBus from './../../common/serverBus'
import { FilterInput, BoatType, BoatColor } from '../../global-query-types'
import {
  dateToBackendString,
  dateToInputDateString
} from '../../common/converters/DateTimeConverter'
import { refreshTypeAhead, TypeAheadTags } from '../Tags/TagsQuery'
import { Events } from '../../common/constants'

@Component
export default class CasesFilterPanel extends Vue {
  boatTypeOptions = Object.keys(BoatType)
  boatColorOptions = Object.keys(BoatColor)
  typeAheadTags: TypeAheadTags[] = []

  fromDate: string | null = null
  fromTime: string | null = null
  toDate: string | null = null
  toTime: string | null = null
  tags: TypeAheadTags[] = []

  @Prop() public filter!: FilterInput

  created() {
    serverBus.$on(Events.loggedIn, () => this.populateTypeaheadTags())
  }

  mounted() {
    this.populateTypeaheadTags
  }

  async populateTypeaheadTags() {
    this.typeAheadTags = await refreshTypeAhead(this.$apollo)
  }

  resetFilter() {
    this.fromDate = this.fromTime = this.toDate = this.toTime = null
    this.tags = []
    this.$emit('resetFilter')
  }

  private combineDateTimeFilters = (date: string | null, time: string | null) => {
    if (date == null && time == null) {
      return null
    }
    return dateToBackendString(
      new Date(`${date ?? dateToInputDateString(new Date())} ${time ?? '00:00'}`)
    )
  }
}
</script>

<style scoped lang="scss"></style>
