<template>
  <div class="caseItem p-3 border border-right-0" v-if="caseObject != null">
    <strong>{{ caseObject.caseNumber }}</strong>
    <div class="float-right">{{ caseObject.timestamp | formatTimestamp }}</div>
    <div class="pt-2 font-italic font-weight-light">
      <span>
        {{ caseObject.boat && caseObject.boat.type }}/{{ caseObject.boat && caseObject.boat.color }}
      </span>
      <span class="float-right">POB: {{ totalPob }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { CasesQuery_cases_cases } from '../Cases/graphql/CasesQuery'
import { determineTotalPob } from '../../common/converters/CaseConverter'
import { backendStringToDisplayDateTimeString } from '../../common/converters/DateTimeConverter'
import serverBus from '../../common/serverBus'
import { Events } from '../../common/constants'

@Component({
  components: {},
  filters: {
    formatTimestamp: backendStringToDisplayDateTimeString
  }
})
export default class CaseListItem extends Vue {
  @Prop() caseObject?: CasesQuery_cases_cases
  hovered = false

  get caseElementId() {
    return this.caseObject != null ? `case-${this.caseObject.id}` : undefined
  }

  get totalPob() {
    return this.caseObject != null ? determineTotalPob(this.caseObject) : 0
  }

  editCase(caseToEdit: CasesQuery_cases_cases) {
    serverBus.$emit(Events.showEditCaseModal, caseToEdit)
  }
}
</script>

<style scoped lang="scss">
.caseItem {
  outline: none;
  cursor: pointer;
}
</style>
