<template>
  <div>
    <!-- Sidebar -->
    <b-sidebar id="filter-sidebar" title="Filter" shadow right>
      <cases-filter-panel
        :filter="queryFilter"
        v-on:filterChanged="refreshCases()"
        v-on:resetFilter="resetFilter()"
      ></cases-filter-panel>
    </b-sidebar>

    <!-- Master Detail -->
    <b-overlay :show="isLoading" rounded="sm">
      <div class="row master-detail-wrapper">
        <div class="col-md-4 col-sm-12 col-xs-12 border p-0">
          <!-- Master -->
          <div class="master-list overflow-auto" id="casesList">
            <!-- Search Field -->
            <div class="p-2 search-bar border d-flex">
              <b-form-input
                class="search-field flex-fill"
                placeholder="Search"
                v-model="queryFilter.text"
                debounce="debounceMs"
                @input="refreshCases"
              ></b-form-input>
              <b-button
                v-if="queryFilter.text && queryFilter.text.length"
                class="ml-2"
                @click="
                  queryFilter.text = ''
                  refreshCases()
                "
              >
                <b-icon-x />
              </b-button>
              <b-button class="ml-2" v-b-toggle.filter-sidebar>
                <b-icon-funnel />
              </b-button>
              <!-- <b-dropdown class="sort-dropdown ml-2">
              <template #button-content>
                <b-icon-sort-down />
              </template>
              <b-dropdown-item><b-icon-sort-down /> Case Number</b-dropdown-item>
              <b-dropdown-item><b-icon-sort-down /> Date</b-dropdown-item>
              <b-dropdown-item><b-icon-sort-down /> Boat Color</b-dropdown-item>
              <b-dropdown-item><b-icon-sort-down /> Boat Type</b-dropdown-item>
            </b-dropdown> -->
            </div>

            <!-- List items -->
            <div class="cases-list-items" id="cases-list">
              <case-list-item
                class="caseListItem"
                v-for="(caseItem, index) in cases"
                :key="caseItem.id"
                :class="caseItemBackgroundColorClass(caseItem, selectedCase, index)"
                :caseObject="caseItem"
                @click.native="showCaseDetail(caseItem)"
              />
            </div>

            <div class="paging-bar border">
              <b-pagination
                v-if="pagingMetadata"
                v-model="currentPage"
                :total-rows="totalCasesCount"
                :per-page="pagingMetadata.pageSize"
                last-number
                align="center"
                @change="changePage($event)"
                aria-controls="cases-list"
              ></b-pagination>
            </div>
          </div>
        </div>

        <!-- Detail -->
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="detail-area overflow-auto">
            <case-detail-data :caseObject="selectedCase" />
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import serverBus from './../../common/serverBus'
import logger from './../../common/logger'
import { isAuthenticated } from './../../common/authentication'
import { CasesQuery_cases_cases, CasesQuery_cases_responseMetadata } from './graphql/CasesQuery'
import { BvEvent } from 'bootstrap-vue'
import { loadCases } from './CasesQuery'
import { Events } from '../../common/constants'
import CaseDetailData from '../CaseDetail/CaseDetailData.vue'
import CaseListItem from './CaseListItem.vue'
import CasesFilterPanel from './CasesFilterPanel.vue'
import exportToCsv from '../../common/export/exportToCsv'
import { FilterInput } from '../../global-query-types'

@Component({
  components: {
    'case-detail-data': CaseDetailData,
    'case-list-item': CaseListItem,
    'cases-filter-panel': CasesFilterPanel
  }
})
export default class Cases extends Vue {
  isAuthenticated = false
  cases: CasesQuery_cases_cases[] = []
  pagingMetadata: CasesQuery_cases_responseMetadata | null = null
  selectedCase: CasesQuery_cases_cases | null = null
  isLoading = false
  queryFilter: FilterInput = {}
  currentPage = 1

  created() {
    serverBus.$on(Events.loggedIn, this.onLoggedIn)
    serverBus.$on(Events.loggedOut, this.onLoggedOut)
    serverBus.$on(Events.addEditCaseSuccess, this.onAddEditCaseSuccess)
    serverBus.$on(Events.exportCsv, this.exportFilteredCases)

    this.resetFilter(false)
  }

  mounted() {
    if (isAuthenticated()) {
      this.refreshCases().then(() => {
        if (!this.$route) {
          return
        }
        const caseId = this.$route.params.id
        if (!caseId) {
          return
        }
        this.showCaseInList(caseId)
      })
    }
  }

  get totalCasesCount(): number {
    return this.pagingMetadata && this.pagingMetadata.pages && this.pagingMetadata.pageSize
      ? this.pagingMetadata.pages * this.pagingMetadata.pageSize
      : 0
  }

  caseItemBackgroundColorClass = (
    caseObject: CasesQuery_cases_cases,
    selectedCase: CasesQuery_cases_cases | null,
    index: number
  ) => {
    return caseObject.id === selectedCase?.id
      ? 'bg-info text-white'
      : index % 2 === 0
      ? 'bg-white'
      : 'bg-light'
  }

  showCaseDetail(caseObject: CasesQuery_cases_cases | null) {
    if (caseObject != null && !this.$route.path.includes(`/${caseObject.id}`)) {
      this.$router.replace(`/${caseObject.id}`)
    }
    this.selectedCase = caseObject
  }

  showCaseInList(caseId: string) {
    const caseIndex = this.cases.findIndex(caseObject => caseObject?.id === caseId)
    const casesList = this.$el.querySelector('#casesList')
    if (!casesList) {
      return
    }

    // 90px is the height of one list item
    casesList.scrollTop = caseIndex * 90
    this.selectedCase = this.cases[caseIndex]
  }

  async changePage(page: number) {
    this.currentPage = page
    await this.refreshCases()
  }

  async refreshCases() {
    logger.info(`Refreshing cases`)
    logger.trace(`Cases query filter ${JSON.stringify(this.queryFilter)}`)

    this.isLoading = true

    const pagingOffset = (this.currentPage - 1) * (this.pagingMetadata?.pageSize || 0)

    try {
      const casesData = await loadCases(this.$apollo, this.queryFilter, {
        offset: pagingOffset
      })

      this.cases = casesData!.cases as CasesQuery_cases_cases[]
      this.pagingMetadata = casesData!.responseMetadata

      if (this.cases.length) {
        this.showCaseDetail(this.cases[0])
      }
    } catch (e) {
      logger.error(e)
      serverBus.$emit(e)
    } finally {
      this.isLoading = false
    }
    logger.debug(`Refresh complete`)
  }

  resetFilter(refresh = true) {
    this.queryFilter = {
      text: null,
      caseDateFrom: null,
      caseDateTo: null,
      boatTypes: [],
      boatColors: [],
      tags: []
    }
    if (refresh) {
      this.refreshCases()
    }
    this.showCaseDetail(null)
  }

  onLoggedIn() {
    this.refreshCases()
  }

  onLoggedOut() {
    this.cases = []
    this.showCaseDetail(null)
  }

  onAddEditCaseSuccess() {
    logger.info('Add case dialog closed after creating case')
    this.refreshCases()
  }

  async onClickRefreshCases(_event: BvEvent) {
    await this.refreshCases()
  }

  exportFilteredCases() {
    exportToCsv(this.cases)
  }
}
</script>

<style scoped lang="scss">
.row {
  margin-right: auto;
  margin-left: auto;
}
.master-list,
.detail-area {
  // 63px is bootstrap nav-bar height
  // 16px is 2x height padding
  // 2px is top and bottom border
  height: calc(100vh - 63px - 16px - 2px);
}

.paging-bar {
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  ul {
    margin-bottom: 0;
  }
}

.search-bar {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.cases-list-items {
  margin-top: 54px;
  margin-bottom: 38px; // height of b-pagination
}
</style>
