<template>
  <div v-if="caseObject != null">
    <b-jumbotron v-if="caseObject != null">
      <b-button-toolbar class="float-right">
        <b-button variant="outline-info" class="mr-2" @click="copyLinkToClipboard">
          <b-icon-share /> Share
        </b-button>
        <b-button variant="outline-info" @click="editCase"> <b-icon-pencil /> Edit </b-button>
      </b-button-toolbar>

      <h1>{{ caseObject.caseNumber }}</h1>

      <p class="lead">
        {{ caseObject.timestamp | formatTimestamp }}
      </p>

      <p class="lead" v-if="caseObject.freetext">
        {{ caseObject.freetext }}
      </p>
      <p v-else class="font-weight-light">No text maintained</p>

      <div v-if="tags">
        <b-badge v-for="(tag, index) in tags" v-bind:key="index" class="mr-2">
          {{ tag.name }}
        </b-badge>
      </div>

      <p v-else class="font-weight-light">No tags maintained</p>
    </b-jumbotron>

    <display-value label="Status" :value="caseObject.status"></display-value>
    <display-value label="Outcome" :value="caseObject.outcome"></display-value>
    <display-value
      label="Estimated departure time"
      :value="caseObject.estimatedDepartureTime | formatTimestamp"
    ></display-value>
    <display-value
      label="Frontex involvement"
      :value="caseObject.frontexInvolvment"
    ></display-value>
    <display-value
      label="Authorities alerted"
      :value="caseObject.authoritiesAlerted ? 'Yes' : 'No'"
    ></display-value>
    <display-value
      label="Authorities details"
      :value="caseObject.authoritiesDetails"
    ></display-value>

    <label class="font-weight-bold" v-if="caseObject.peopleOnBoard">People on Board</label>
    <b-container v-if="caseObject.peopleOnBoard">
      <display-value label="Women" :value="caseObject.peopleOnBoard.women"></display-value>
      <display-value label="Minors" :value="caseObject.peopleOnBoard.minors"></display-value>
      <display-value label="Men" :value="caseObject.peopleOnBoard.men"></display-value>
      <display-value label="Medical" :value="caseObject.peopleOnBoard.medical"></display-value>
      <display-value label="Missing" :value="caseObject.peopleOnBoard.missing"></display-value>
      <display-value label="Drowned" :value="caseObject.peopleOnBoard.drowned"></display-value>
      <display-value
        label="Total"
        :value="caseObject.peopleOnBoard.total"
        :showBold="true"
      ></display-value>
    </b-container>

    <label class="font-weight-bold" v-if="caseObject.boat">Boat</label>
    <b-container v-if="caseObject.boat">
      <display-value label="Type" :value="caseObject.boat.type"></display-value>
      <display-value label="Color" :value="caseObject.boat.color"></display-value>
      <display-value label="Engine Status" :value="caseObject.boat.engineStatus"></display-value>
    </b-container>

    <label class="font-weight-bold">Positions</label>
    <positions :positions="caseObject.positions" />

    <b-table
      v-if="caseObject.positions"
      borderless
      striped
      class="b-table-select-single"
      selectable
      select-mode="single"
      :items="geoPositions"
      @row-selected="onPositionSelected"
    ></b-table>

    <b-button-toolbar class="pb-4" style="text-align:right">
      <b-button
        @click="onClickDeletePosition"
        class="mr-1"
        :disabled="selectedPositionIndex === -1"
      >
        <b-icon-trash /> Delete Position
      </b-button>
      <b-button @click="onClickAddPosition"> <b-icon-plus /> Add Position </b-button>
    </b-button-toolbar>

    <label class="font-weight-bold">Links</label>
    <p v-for="(link, index) in links" :key="'link' + index">
      <b-link class="btn btn-link ml-2" @click="openExternalUrl(link)">
        {{ link }}
      </b-link>
    </p>
    <p v-if="!caseObject.links || !caseObject.links.length" class="font-weight-light">
      No links maintained.
    </p>
  </div>

  <div v-else>
    <label class="font-weight-light align-middle">Select a case from the list</label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import logger from '../../common/logger'
import { formatFirstUp, formatLocation } from '../../common/formatters'
import serverBus from '../../common/serverBus'
import { deletePosition } from '../Positions/DeletePositionMutation'
import { CasesQuery_cases_cases, CasesQuery_cases_cases_tags } from '../Cases/graphql/CasesQuery'
import { Events } from '../../common/constants'
import { backendStringToDisplayDateTimeString } from '../../common/converters/DateTimeConverter'
import Positions from '../Positions/Positions.vue'
import DisplayValue from '../Common/DisplayValue.vue'
import { copyPermalink, openExternalUrl } from '../../common/helpers'
import { PositionInput } from '../../global-query-types'
import { positionInputToPosition } from '../../common/converters/PositionConverter'

@Component({
  components: {
    positions: Positions,
    'display-value': DisplayValue
  },
  filters: {
    firstUp: (value: string) => formatFirstUp(value),
    formatTimestamp: backendStringToDisplayDateTimeString
  }
})
export default class CaseDetailData extends Vue {
  @Prop() caseObject!: CasesQuery_cases_cases
  formatTimestamp = backendStringToDisplayDateTimeString
  formatLocation = formatLocation
  openExternalUrl = openExternalUrl
  selectedPositionIndex = -1

  created() {
    serverBus.$on(Events.addPositionSuccess, this.onAddPosition)
  }
  onAddPosition(newPosition: PositionInput) {
    const position = positionInputToPosition(newPosition, this.caseObject.id)
    this.caseObject.positions?.push(position)
  }

  onClickAddPosition() {
    serverBus.$emit(Events.showAddPositionModal, this.caseObject.id)
  }

  get links(): string[] {
    return (this.caseObject && (this.caseObject.links as string[])) || []
  }

  get tags(): CasesQuery_cases_cases_tags[] {
    return (this.caseObject && (this.caseObject.tags as CasesQuery_cases_cases_tags[])) || []
  }

  get geoPositions(): unknown[] {
    if (!this.caseObject.positions) {
      return []
    }
    return this.caseObject.positions.map((position, index) => ({
      number: index + 1,
      location: formatLocation(position),
      timestamp: this.formatTimestamp(position?.timestamp || null),
      COG: position?.courseOverGround,
      SOG: position?.speedOverGround
    }))
  }

  async onClickDeletePosition(): Promise<void> {
    if (this.selectedPositionIndex === -1) {
      return
    }

    logger.debug('Deleting position for case')
    const position = this.caseObject.positions![this.selectedPositionIndex]!
    await deletePosition(this.$apollo, position.id, position.caseId)
    this.caseObject.positions = this.caseObject?.positions?.filter(p => p?.id !== position.id) ?? []
    serverBus.$emit(Events.successMessage, 'Position deleted')

    this.selectedPositionIndex = -1
  }

  onPositionSelected(positions: { number: number; location: string; timestamp: string }[]) {
    if (!positions?.length) {
      return
    }

    const row = positions[0]
    this.selectedPositionIndex = row.number - 1
  }

  editCase() {
    serverBus.$emit(Events.showEditCaseModal, this.caseObject)
  }

  copyLinkToClipboard() {
    copyPermalink(this.caseObject.id)
    serverBus.$emit(Events.successMessage, 'Copied case URL to clipboard')
  }
}
</script>

<style lang="scss" scoped></style>
