<template>
  <b-modal
    id="addPositionModal"
    ref="modal"
    title="Add Position to Case"
    @ok="handleSubmit"
    :ok-disabled="okDisabled"
    @hide="handleClose"
  >
    <validation-observer ref="observer">
      <b-row>
        <b-col sm="6">
          <input-field
            id="creation-date"
            label="Date"
            v-model="positionFormInput.date"
            type="date"
            validation-rules="required"
          />
        </b-col>
        <b-col sm="6">
          <input-field
            id="creation-time"
            label="Time (in UTC)"
            v-model="positionFormInput.time"
            type="time"
            validation-rules="required"
          />
        </b-col>
      </b-row>

      <input-field
        id="coordinates"
        label="Coordinates"
        explanation="Use input format 'DDMMM/DDDMM' where 'D' is degrees and 'M' is minutes, e.g. '34278/01265'"
        v-model="coordinateString"
        :validation-rules="{ required: true, min: { length: MINIMUM_ENTRY_LENGTH } }"
      />

      <b-list-group v-if="errors != null">
        <b-list-group-item v-for="error in errors" :key="error.key" variant="danger">
          {{ error.message }}
        </b-list-group-item>
      </b-list-group>
      <b-form-text class="pl-1" v-else>{{ formattedDegreesMinutes }}</b-form-text>

      <input-field
        id="input-course-over-ground"
        label="Course over ground (SOG)"
        v-model="positionFormInput.courseOverGround"
        type="number"
        validation-rules="number"
      />

      <input-field
        id="input-speed-over-ground"
        label="Speed over ground (SOG)"
        v-model="positionFormInput.speedOverGround"
        type="number"
        validation-rules="number"
      />
    </validation-observer>
  </b-modal>
</template>

<script lang="ts">
import Vue from 'vue'
import {
  dateToInputDateString,
  dateToInputTimeString,
  getCurrentUTCDate
} from '../../common/converters/DateTimeConverter'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { addPositionToCase } from './AddPositionMutation'
import logger from '../../common/logger'
import { BvEvent } from 'bootstrap-vue'
import serverBus from '../../common/serverBus'
import {
  ValidationErrors,
  LatLon,
  parseCoordinates
} from '../../common/converters/CoordinateConverter'
import { formatCoordinates } from '../../common/formatters/GeoLocationFormatter'
import { Events } from '../../common/constants'
import PositionFormInput from '../../models/PositionFormInput'
import { positionFormInputToInput } from '../../common/converters/PositionConverter'

@Component
export default class AddPositionModal extends Vue {
  MINIMUM_ENTRY_LENGTH = 6

  // data
  coordinateString = ''
  errors: ValidationErrors | null = null
  positionFormInput: PositionFormInput = {
    date: '',
    time: '',
    speedOverGround: '',
    courseOverGround: '',
    latitude: 0.0,
    longitude: 0.0
  }

  @Prop() onClose?: () => void
  @Prop() caseId?: string

  @Watch('coordinateString')
  coordinateWatch(newValue: string, _oldValue: string) {
    if (newValue == null || newValue.length <= this.MINIMUM_ENTRY_LENGTH) {
      return
    }

    const parsingResult = parseCoordinates(this.coordinateString)
    let latLon: LatLon | null = null

    if (parsingResult.data) {
      this.errors = null
      latLon = parsingResult.data.latLon
    } else {
      this.errors = parsingResult.errors
    }

    this.positionFormInput.latitude = latLon ? latLon.latitude : 0
    this.positionFormInput.longitude = latLon ? latLon.longitude : 0
  }

  get formattedDegreesMinutes() {
    return this.errors?.length
      ? 'INVALID INPUT'
      : formatCoordinates({
          latitude: this.positionFormInput.latitude,
          longitude: this.positionFormInput.longitude
        } as LatLon)
  }

  get okDisabled() {
    return this.coordinateString?.length <= this.MINIMUM_ENTRY_LENGTH || this.errors != null
  }

  mounted() {
    this.resetForm()
  }

  async handleSubmit(event: BvEvent) {
    event.preventDefault()

    if (!this.caseId?.length) throw Error('caseId not populated')

    logger.debug('Attempting to add to position to case')

    const position = positionFormInputToInput(this.positionFormInput)

    try {
      await addPositionToCase(this.$apollo, this.caseId, position)

      logger.info('Created new position for case')

      serverBus.$emit(Events.addPositionSuccess, position)
      serverBus.$emit(Events.successMessage, 'Position added')

      this.handleClose()
    } catch (e) {
      logger.error(e)
      serverBus.$emit(Events.error, e)
    }
  }

  resetForm() {
    const now = getCurrentUTCDate()

    this.positionFormInput.latitude = 0.0
    this.positionFormInput.longitude = 0.0
    this.positionFormInput.date = dateToInputDateString(now)
    this.positionFormInput.time = dateToInputTimeString(now)
    this.positionFormInput.speedOverGround = ''
    this.positionFormInput.courseOverGround = ''
    this.coordinateString = ''
    this.errors = null
  }

  handleClose() {
    this.resetForm()
    if (this.onClose != null) {
      this.onClose()
    }
  }
}
</script>
