<template>
  <div class="mt-0 border">
    <map-area :positions="positions"></map-area>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import MapArea from '../Common/MapArea.vue'
import { CasesQuery_cases_cases_positions } from '../Cases/graphql/CasesQuery'

@Component({
  components: {
    'map-area': MapArea
  }
})
export default class Positions extends Vue {
  @Prop() positions!: Array<CasesQuery_cases_cases_positions>
}
</script>
