// Override pagination

$info: #17a2b8;
$white: white;
$gray-600: #6c757d;

$pagination-color: $info !important;
$pagination-bg: $white !important;

$pagination-border-width: 0 !important;

$pagination-focus-box-shadow: none !important;

$pagination-hover-color: $white !important;
$pagination-hover-bg: $info !important;

$pagination-active-color: $white !important;
$pagination-active-bg: $info !important;
$pagination-active-border-color: $info !important;

$pagination-disabled-color: $gray-600 !important;
$pagination-disabled-bg: $white !default;

@import '../../node_modules/bootstrap/scss/bootstrap';
