<template>
  <b-row>
    <b-col>
      <strong v-if="showBold">
        <label class="float-right">{{ label }}</label>
      </strong>
      <label v-else class="float-right">{{ label }}</label>
    </b-col>
    <b-col>
      <strong v-if="showBold">
        <label>
          {{ valueString }}
        </label>
      </strong>
      <label v-else>
        {{ valueString }}
      </label>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

/**
 * Generic wrapper component for labels and values displayed (readonly) on UI as a pair.
 */
@Component({})
export default class DisplayValue extends Vue {
  @Prop() label!: string
  @Prop({ default: false }) showBold?: boolean
  @Prop({ default: null }) value?: string

  get valueString(): string {
    return this.value != null && this.value !== '' ? this.value : '-'
  }
}
</script>
