<template>
  <b-alert :id="id" dismissible variant="danger" :show="message != null && message.length > 0" fade>
    <h4>Error</h4>
    <p>{{ this.message }}</p>
  </b-alert>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

@Component({})
export default class ErrorAlert extends Vue {
  @Prop() id!: string
  @Prop({ default: '' }) message?: string
}
</script>
