<template>
  <validation-provider :rules="validationRules" v-slot="validationContext">
    <b-form-group
      :id="groupId"
      :label="label"
      :label-for="inputId"
      :label-cols="horizontal ? '' : null"
      :label-align="horizontal ? 'right' : 'left'"
    >
      <b-form-text class="mb-1" v-if="explanation">{{ explanation }}</b-form-text>
      <b-form-input
        :id="inputId"
        v-model="internalValue"
        :type="type"
        :placeholder="placeholder"
        :state="
          validationContext && validationContext.dirty && validationContext.validated
            ? validationContext.valid
            : null
        "
        :step="isFloat ? '0.01' : null"
        :min="isFloat ? '0.00' : null"
      ></b-form-input>
      <b-form-invalid-feedback>{{
        validationContext && validationContext.errors ? validationContext.errors[0] : ''
      }}</b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { Events } from '../../common/constants'

@Component({})
/**
 * Generic wrapper component for form input fields, simplifying validation and minimizing
 * the amount of redundant code.
 */
export default class InputField extends Vue {
  @Prop() id!: string
  @Prop({ default: '' }) label?: string
  @Prop({ default: 'text' }) type?: string
  @Prop({ default: '' }) invalidFeedback?: string
  @Prop({ default: '' }) placeholder?: string
  @Prop({ default: null }) validationRules?: string | object
  @Prop({ default: '' }) value!: string
  @Prop({ default: null }) explanation?: string
  @Prop({ default: false }) horizontal?: boolean

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  internalValue: any = ''

  mounted() {
    this.internalValue = this.value || ''
  }

  @Watch('internalValue')
  internalValueWatch(newValue: string, _oldValue: string) {
    this.$emit(Events.input, newValue)
  }

  get isFloat() {
    return (
      typeof this.validationRules === 'string' &&
      (this.validationRules?.includes('float') || this.validationRules?.includes('number'))
    )
  }

  get groupId() {
    return this.id + '-group'
  }

  get inputId() {
    return this.id + '-input'
  }
}
</script>
