<template>
  <l-map class="mapArea" :zoom="zoom" :center="center" :options="{ scrollWheelZoom: false }">
    <l-tile-layer :url="url"></l-tile-layer>
    <!-- TODO find a binding key -->
    <div v-for="(position, index) in positions" v-bind:key="index" v-bind:index="index">
      <l-marker :lat-lng="[position.latitude, position.longitude]">
        <l-tooltip>
          <p class="tooltip_date">{{ position.timestamp | formatTimestamp }}</p>
          <p class="tooltip_coord">
            <span>Latitude:</span>
            {{ position.latitude }}
          </p>
          <p class="tooltip_coord">
            <span>Longitude:</span>
            {{ position.longitude }}
          </p>
          <p class="tooltip_coord" v-if="position.courseOverGround">
            <span>COG:</span>
            {{ position.courseOverGround }}
          </p>
          <p class="tooltip_coord" v-if="position.speedOverGround">
            <span>SOG:</span>
            {{ position.speedOverGround }}
          </p>
        </l-tooltip>
      </l-marker>
    </div>
  </l-map>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/no-var-requires */

import { LatLngLiteral } from 'leaflet'
import { LMap, LTileLayer, LMarker, LTooltip } from 'vue2-leaflet'
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import Position from '../../models/Position'
import { backendStringToDisplayDateTimeString } from '../../common/converters/DateTimeConverter'

// Fix leaflet import, see https://korigan.github.io/Vue2Leaflet/#/quickstart.md and http://www.solasistim.net/posts/vue_leaflet_typescript/
const leaflet = require('leaflet')
delete leaflet.Icon.Default.prototype._getIconUrl
const iconRetinaUrl = require('leaflet/dist/images/marker-icon-2x.png')
const iconUrl = require('leaflet/dist/images/marker-icon.png')
const shadowUrl = require('leaflet/dist/images/marker-shadow.png')
leaflet.Icon.Default.mergeOptions({ iconRetinaUrl, iconUrl, shadowUrl })

@Component({
  components: {
    'l-map': LMap,
    'l-tile-layer': LTileLayer,
    'l-marker': LMarker,
    'l-tooltip': LTooltip
  },
  filters: {
    formatTimestamp: backendStringToDisplayDateTimeString
  }
})
export default class MapArea extends Vue {
  url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
  zoom = 5
  center: LatLngLiteral = { lat: 38.575655, lng: 10.710734 }

  @Prop() positions?: Array<Position>
}
</script>

<style lang="scss" scoped>
@import url('~leaflet/dist/leaflet.css');

.tooltip_date {
  margin-bottom: 8px;
}
.tooltip_coord {
  margin-bottom: 2px;

  span {
    font-style: italic;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.leaflet-container {
  margin-top: 0 !important;
  height: 420px;
}
</style>
