<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand>SARchive</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item @click="addCase()"><b-icon-plus /> Add Case</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav>
          <b-nav-item @click="exportToCsv()"><b-icon-download /> Export CSV</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <em>{{ username }}</em>
            </template>

            <b-dropdown-item @click="handleSignOut"><b-icon-power /> Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { Events } from '../../common/constants'
import serverBus from '../../common/serverBus'
import Vue from 'vue'

import { getUsername } from '../../common/authentication'

@Component
export default class MenuBar extends Vue {
  username = '-'

  created() {
    serverBus.$on(Events.loggedIn, this.refreshUsername)
    serverBus.$on(Events.loggedOut, this.resetUsername)
  }

  mounted() {
    this.refreshUsername()
  }

  handleSignOut() {
    serverBus.$emit(Events.loggedOut)
  }

  refreshUsername() {
    getUsername(this.$apollo)
      .then(username => (this.username = username || '-'))
      // This might fail when the token expires, the error
      // is already shown to the user by theg graphQl client
      .catch()
  }

  resetUsername() {
    this.username = '-'
  }

  addCase() {
    serverBus.$emit(Events.showAddCaseModal)
  }

  exportToCsv() {
    serverBus.$emit(Events.exportCsv)
  }
}
</script>

<style></style>
