<template>
  <div>
    <login />
    <change-password />
    <add-position :onClose="closeAddPositionModal" :caseId="caseIdToAddPosition" />
    <edit-case :caseToEdit="caseToEdit" :editMode="editCaseEditMode" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import AddPositionModal from '../Positions/AddPositionModal.vue'
import serverBus from '../../common/serverBus'
import logger from '../../common/logger'
import { Events, Modals as ModalNames } from '../../common/constants'
import Login from '../Authentication/Login.vue'
import ChangePassword from '../Authentication/ChangePassword.vue'
import EditCase from '../EditCase/EditCase.vue'
import { CasesQuery_cases } from '../Cases/graphql/CasesQuery'

/**
 * Manager component for all modals in the application.
 */
@Component({
  components: {
    login: Login,
    'change-password': ChangePassword,
    'add-position': AddPositionModal,
    'edit-case': EditCase
  }
})
export default class Modals extends Vue {
  caseIdToAddPosition = -1
  caseToEdit: CasesQuery_cases | null = null
  editCaseEditMode = false

  created() {
    serverBus.$on(Events.showLoginModal, () => this.$bvModal.show(ModalNames.login))
    serverBus.$on(Events.hideLoginModal, () => this.$bvModal.hide(ModalNames.login))
    serverBus.$on(Events.showPasswordChangeModal, () =>
      this.$bvModal.show(ModalNames.changePassword)
    )
    serverBus.$on(Events.hidePasswordChangeModal, () =>
      this.$bvModal.hide(ModalNames.changePassword)
    )
    serverBus.$on(Events.showAddPositionModal, caseId => {
      this.addPositionToCase(caseId)
    })
    serverBus.$on(Events.showEditCaseModal, caseToEdit => {
      this.showAddEditCase(true, caseToEdit)
    })
    serverBus.$on(Events.showAddCaseModal, () => {
      this.showAddEditCase(false)
    })
    serverBus.$on(Events.addEditCaseSuccess, () => {
      this.$bvModal.hide(ModalNames.editCase)
      this.caseToEdit = null
      this.editCaseEditMode = false
    })
  }

  addPositionToCase(caseId: number) {
    logger.debug(`Showing AddPositionModal`)
    this.$bvModal.show(ModalNames.addPosition)
    this.caseIdToAddPosition = caseId
  }

  closeAddPositionModal() {
    logger.debug(`Closing AddPositionModal`)
    this.$bvModal.hide(ModalNames.addPosition)
    this.caseIdToAddPosition = -1
  }

  showAddEditCase(editMode: boolean, caseToEdit: CasesQuery_cases | null = null) {
    this.caseToEdit = caseToEdit
    this.editCaseEditMode = editMode
    this.$nextTick(() => {
      this.$bvModal.show(ModalNames.editCase)
    })
  }
}
</script>
<style lang="scss" scoped></style>
