<template>
  <b-alert
    :id="id"
    dismissible
    fade
    variant="success"
    :show="message != null && message.length > 0 && dismissCountDown"
    @dismissed="onInternalDismissed"
    @dismiss-count-down="countDownChanged"
  >
    <h4>Success</h4>
    <p>{{ this.message }}</p>
    <span>Message will dismiss after {{ dismissCountDown }} seconds...</span>
  </b-alert>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { BvEvent } from 'bootstrap-vue'

@Component({})
export default class SuccessAlert extends Vue {
  dismissCountDown = 0

  @Prop() id!: string
  @Prop({ default: '' }) message?: string
  @Prop() onDismissed!: (event: BvEvent) => void

  mounted() {
    // dismiss automatically after 5 seconds
    this.dismissCountDown = 5
  }

  countDownChanged(dismissCountDown: number) {
    this.dismissCountDown = dismissCountDown
  }

  onInternalDismissed(event: BvEvent) {
    this.dismissCountDown = 0
    this.onDismissed(event)
  }
}
</script>
