<template>
  <validation-observer ref="observer" v-slot="{ valid }">
    <b-modal
      id="changePasswordModal"
      ref="changePasswordModal"
      @ok="changePassword"
      @hide="preventClose"
      cancel-disabled
      hide-header-close
      title="Change password"
    >
      <input-field
        label="Old Password"
        id="old-password-input"
        v-model="oldPassword"
        type="password"
        validationRules="required"
      />

      <input-field
        label="New Password"
        id="password-input"
        v-model="password"
        type="password"
        :validationRules="{ required: true, notmatch: oldPassword }"
      />

      <input-field
        label="Confirm Password"
        id="password-input-repeat"
        v-model="passwordRepeat"
        type="password"
        :validationRules="{ required: true, match: password }"
      />

      <template #modal-footer="{ ok }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button size="sm" variant="success" id="change-button" @click="ok()" :disabled="!valid">
          Change Password
        </b-button>
      </template>
    </b-modal>
  </validation-observer>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { BvModalEvent } from 'bootstrap-vue'
import logger from '../../common/logger'
import { triggerPasswordChange } from './ChangePasswordMutation'
import InputField from '../Common/InputField.vue'

@Component({ components: { 'input-field': InputField } })
export default class ChangePassword extends Vue {
  oldPassword = ''
  password = ''
  passwordRepeat = ''

  async changePassword(bModal: BvModalEvent) {
    bModal.preventDefault()

    try {
      logger.info('Triggering login')

      // Trigger password change mutation
      await triggerPasswordChange(this.$apollo, this.oldPassword, this.password)

      // Clear data on success
      this.resetModel()
    } catch (error) {
      // log and display error messages
      logger.error(error)
    }
  }

  resetModel() {
    this.oldPassword = ''
    this.password = ''
    this.passwordRepeat = ''
  }

  preventClose(bModal: BvModalEvent) {
    // Prevent modal from disappearing when clicking in the gray area on pressing escape
    if (bModal.trigger === 'backdrop' || bModal.trigger === 'esc') {
      bModal.preventDefault()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
