<template>
  <validation-observer ref="observer" v-slot="{ valid }">
    <b-modal
      id="loginModal"
      ref="loginModal"
      @ok="login"
      @hide="preventClose"
      cancel-disabled
      hide-header-close
      title="Login required"
    >
      <input-field
        label="User"
        id="user-input"
        ref="focusThis"
        v-model="username"
        validationRules="required"
      />
      <input-field
        label="Password"
        id="password-input"
        v-model="password"
        type="password"
        validationRules="required"
      />

      <template v-slot:modal-footer="{ ok }">
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button size="sm" variant="success" id="login-button" @click="ok()" :disabled="!valid">
          Login
        </b-button>
      </template>
    </b-modal>
  </validation-observer>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { BvModalEvent } from 'bootstrap-vue'
import logger from '../../common/logger'
import { triggerLogin } from './LoginMutation'
import InputField from '../Common/InputField.vue'

@Component({ components: { 'input-field': InputField } })
export default class Login extends Vue {
  username = ''
  password = ''

  async login(bModal: BvModalEvent) {
    bModal.preventDefault()

    try {
      logger.info('Triggering login')

      // Trigger login mutation
      await triggerLogin(this.$apollo, this.username, this.password)

      // Clear data on success
      this.resetModel()
    } catch (error) {
      // log and display error messages
      logger.error(error)
    }
  }

  resetModel() {
    this.username = ''
    this.password = ''
  }

  preventClose(bModal: BvModalEvent) {
    // Prevent modal from disappearing when clicking in the gray area on pressing escape
    if (bModal.trigger === 'backdrop' || bModal.trigger === 'esc') {
      bModal.preventDefault()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
