<template>
  <div id="app">
    <menu-bar />
    <div id="mainWindow">
      <modals />
      <router-view class="p-2" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import MenuBar from './components/Common/MenuBar.vue'
import serverBus from './common/serverBus'
import logger from './common/logger'
import { isAuthenticated, logout } from './common/authentication'
import Modals from './components/Common/Modals.vue'
import { Events } from './common/constants'
import gql from 'graphql-tag'

const APP_SETTINGS_QUERY = gql`
  query AppSettingsQuery {
    appSettings {
      errorCodes
    }
  }
`

@Component({
  components: {
    'menu-bar': MenuBar,
    modals: Modals
  }
})
export default class App extends Vue {
  addPositionCaseId = ''

  created() {
    serverBus.$on(Events.loggedIn, this.onLoggedIn)
    serverBus.$on(Events.loggedOut, this.onLoggedOut)
    serverBus.$on(Events.tokenExpired, this.onTokenExpired)
    serverBus.$on(Events.error, this.onError)
    serverBus.$on(Events.successMessage, this.onSuccessMessage)
  }

  mounted() {
    if (isAuthenticated()) {
      serverBus.$emit(Events.hideLoginModal)
    } else {
      serverBus.$emit(Events.showLoginModal)
    }
  }

  onLoggedIn() {
    logger.info('User logged in')
    serverBus.$emit(Events.hideLoginModal)
    this.$bvToast.hide()
  }

  onLoggedOut() {
    logger.info('User logged out')
    this.resetApp()
  }

  onTokenExpired() {
    logger.info('User token expired')
    this.resetApp()
  }

  onError(error: string, _id?: string) {
    if (!error) {
      return
    }
    logger.error(error)
    this.$bvToast.toast(error, { variant: 'danger', noAutoHide: true, title: 'Error' })
  }

  onSuccessMessage(successMessage: string) {
    logger.info(successMessage)
    this.$bvToast.toast(successMessage, { variant: 'success', noAutoHide: false, title: 'Success' })
  }

  resetApp() {
    logout().then(() => serverBus.$emit(Events.showLoginModal))
  }
}
</script>

<style lang="scss">
@import 'styles/_custom.scss';
</style>
