<template>
  <div v-bind="{ ...$props, ...$attrs }">
    <slot :valid="valid"></slot>
  </div>
</template>

<script>
const MockValidationObserver = {
  name: 'MockValidationObserver',
  data() {
    return {
      valid: false
    }
  }
}
export default MockValidationObserver
</script>
